{% extends "base.html" %}

{% block main %}

<h1 class="font-wight-bold text-justify text-primary">Buzzer Practice</h1>
<br>
<img src="" id="pic" class="img-fluid"></img>
<p id="theme"></p>
<h5 id="q"></h5>
<input type="text" id="in" placeholder="Answer">
<p id="answer"></p>
<button class="btn btn-danger" id="buzz" onclick="buzz();">Buzzer</button>
<button class="btn btn-primary" id="check" onclick="loadAnswer();" autofocus>Check</button>
<br/>
<button class="btn btn-primary" id="next" onclick="next();">Next</button>

<script>

    var buzzed = false;
    var finished = false;
    var q = "";
    var qi = 0;

    document.addEventListener("DOMContentLoaded", () =>{
        document.querySelector("#in").style = "display: none";
        document.querySelector("#next").style = "display: none";
        document.querySelector("#check").style = "display: none";
        document.querySelector("#pic").style = "display: none";
        loadQuestion();
    });

    document.querySelector("input").addEventListener('keypress', (e) => {
        if(e.key==="Enter"){
            loadAnswer();
        }
    });

    document.addEventListener('keypress', (e) => {
        console.log('key');
       if(e.key === ' ' || e.key === 'Spacebar'){
           console.log('space');
           document.querySelector("#buzz").click();
       }
    });

    function buzz(){
        buzzed = true;
    }

    function next(){
        buzzed = false;
        finished = false;
        document.querySelector("#q").innerHTML = "";
        document.querySelector("#in").style = "display: none";
        document.querySelector("#check").style = "display: none";
        document.querySelector("#buzz").style = "display: inline";
        loadQuestion();
        document.querySelector("input").disabled = false;
        document.querySelector("#answer").innerHTML = "";
        document.querySelector("input").value = "";
        document.querySelector("#next").style = "display: none";
    }

    function loadQuestion(){
        $.get("/questions?round=infinite", (info) => {
           if(info["theme"]){
               document.querySelector("#theme").innerHTML = info["theme"];
           }else{
               document.querySelector("#theme").innerHTML = "";
           }
           if(info["pic"]){
               document.querySelector("#pic").src = info["pic"];
               document.querySelector("#pic").style = "width: 300; height:300;"
               document.querySelector("#pic").style = "display: inline;";
           }else{
               document.querySelector("#pic").style = "display: none;";
           }
          q = info["question"]
          nextLetter();
        });
    }

    function nextLetter(){
        if(qi>=q.length){
          finished = true;
        }
        if(!buzzed&&!finished){
           document.querySelector("#q").innerHTML += q[qi];
           qi++;
        setTimeout(nextLetter, 100)
        }else{
            document.querySelector("#in").style = "display: inline";
            document.querySelector("#check").style = "display: inline";
            document.querySelector("#buzz").style = "display: none";
            qi = 0;
        }
    }

    function loadAnswer(){
        $.get("/answers?round=infinite", (answer) => {
           document.querySelector("#q").innerHTML = q;
           document.querySelector("#next").style = "display: inline";
           document.querySelector("#answer").innerHTML = answer;
           document.querySelector("input").disabled = true;
           document.querySelector("#check").style = "display: none";
        });
    }
</script>

{% endblock %}
