{% extends "base.html" %}

{% block main %}

<h3>Choose categories to recieve questions from</h3>

<form action="/cat" method="POST">
    <div class="form-control">
      <input type="checkbox" name="all">
      <label for="all">All</label>
    </div>
    <div class="form-control">
      <input type="checkbox" name="geo">
      <label for="geo">Geography</label>
    </div>
    <div class="form-control">
      <input type="checkbox" name="ush">
      <label for="ush">U.S. History</label>
    </div>
    <div class="form-control">
      <input type="checkbox" name="world history">
      <label for="world history">World History</label>
    </div>
    <div class="form-control">
      <input type="checkbox" name="lit">
      <label for="lit">Literature</label>
    </div>
    <div class="form-control">
      <input type="checkbox" name="inventors">
      <label for="inventors">Inventors</label>
    </div>
    <div class="form-control">
      <input type="checkbox" name="music">
      <label for="music">Music</label>
    </div>
    <div class="form-control">
      <input type="checkbox" name="art">
      <label for="art">Art</label>
    </div>
    <div class="form-control">
      <input type="checkbox" name="sci">
      <label for="sci">Science</label>
    </div>
    <div class="form-control">
      <input type="checkbox" name="math">
      <label for="math">Math</label>
    </div>
    <div class="form-control">
      <input type="checkbox" name="misc">
      <label for="misc">Miscellaneous</label>
    </div>
    <br/>
    <input type="submit" class="btn btn-primary">

</form>

{% endblock %}
