{% extends "base.html" %}

{% block main %}
<h1 class="font-wight-bold text-justify text-primary">
Infinite Academic
<div class="spinner-border" role="status" id="load">
  <span class="sr-only">Loading...</span>
</div>
</h1>
<br>
<img src="" id="pic" class="img-fluid q_pic"></img>
<p id="theme"></p>
<h5 id="q"></h5>
<input type="text" placeholder="Answer">
<p id="answer"></p>
<button class="btn btn-primary" id="check" onclick="loadAnswer();" autofocus>Check</button>
<br/>
<button class="btn btn-primary" id="next" onclick="next();">Next</button>

<script>
    document.addEventListener("DOMContentLoaded", () =>{
        document.querySelector("#next").style = "display: none";
        document.querySelector("#check").style = "display: inline";
        document.querySelector("#pic").style = "display: none";
        document.querySelector("#load").style.visibility = "hidden";
        loadQuestion();
    });

    document.querySelector("input").addEventListener('keypress', (e) => {
        if(e.key==="Enter"){
            if(document.querySelector("#load").style.visibility === "hidden"){
            loadAnswer();
            }
        }
    });

    function next(){
        document.querySelector("#answer").innerHTML = "";
         document.querySelector("#q").innerHTML = "";
         document.querySelector("#theme").innerHTML = "";
         document.querySelector("#pic").style = "display: none";
        document.querySelector("input").style = "display: none";
        document.querySelector("#next").style = "display: none";
        document.querySelector("#check").style = "display: none";
        document.querySelector("#load").style.visibility = "visible";
      loadQuestion();
    }

    function loadQuestion(){
        $.get("/questions?round=infinite", (info) => {
            if(info === "error"){
                window.location.href = "/error?error=category";
            }
           document.querySelector("#q").innerHTML = info["question"];
           if(info["theme"]){
               document.querySelector("#theme").innerHTML = info["theme"];
           }else{
               document.querySelector("#theme").innerHTML = "";
           }
           if(info["pic"]){
               document.querySelector("#pic").src = info["pic"];
               document.querySelector("#pic").style = "width: 300; height:300;"
               document.querySelector("#pic").style = "display: inline;";
           }else{
               document.querySelector("#pic").style = "display: none;";
           }
           document.querySelector("#check").style = "display: inline;";
           document.querySelector("input").disabled = false;
        document.querySelector("input").value = "";
        document.querySelector("input").focus();
        document.querySelector("input").style = "display: inline";
        document.querySelector("#load").style.visibility = "hidden";
        });
    }

    function loadAnswer(){
        $.get("/answers?round=infinite", (answer) => {
           document.querySelector("#next").style = "display: inline";
           document.querySelector("#answer").innerHTML = answer;
           document.querySelector("input").disabled = true;
           document.querySelector("#check").style = "display: none";
        });
    }
</script>

{% endblock %}
